// _c-button.scss

.button,
button {
  display: inline-block;
  font-family: font(primary);
  font-size: 14px;
  font-weight: 400;
  color: color(foreground, invert);
  background-color: color(secondary, dark);
  padding: 15px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  @include transition();

  &:hover {
    color: color(secondary, dark);
    background-color: color(primary);
    @include transition();
  }

  &--transp {
    background-color: transparent;
    color: color('foreground');
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: -0.5px;
    padding: 8px 5px;
    margin-top: 8px;
    border-bottom: solid 1px color('foreground');

    &:hover {
      background-color: color('foreground');
      color: color('foreground', 'invert');
    }
  }
}