// _c-form.scss

form {
  padding: 0 30px 30px 30px;

  .editForm & {
    max-width: 600px;
    padding: 0;

    button {
      float: left;
    }
  }

  input,
  div input {
    padding: 10px;
    width: calc(100% - 200px);
    display: inline-block;
    vertical-align: middle;
    background-color: color('background');
    border: solid 1px color('secondary', 'dark');
  }

  select,
  div select {
    width: calc(100% - 200px);
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: solid 1px color('secondary', 'dark');
    border-radius: 0;
    background-color: color('background');
  }

  div {
    margin: 10px 0;
    overflow: hidden;

    &#athlete_dateNaissance {
      width: calc(100% - 200px);
      display: inline-block;
      vertical-align: middle;

      select {
        width: 32%;
        margin: 0 2% 0 0;

        &:last-child {
          margin: 0;
        }
      }
    }

    label {
      display: inline-block;
      vertical-align: middle;
      width: 200px;
    }
  }
  button {
    float: right;

    &:disabled {
      background-color: color('gray', 'middle');
      cursor: not-allowed;
    }
  }
}